---
import HeaderLink from '@/components/HeaderLink'
import Search from '@/components/Search'
import TagIcon from './icons/TagIcon.astro'
import { ToggleTheme } from './react/ToggleTheme'
import LanguageSwitch from '@/components/LanguageSwitch'
import TwitterIcon from './icons/TwitterIcon.astro'
import GithubIcon from './icons/GithubIcon.astro'
import { SOCIALNETWORKS } from '@/data/links'
import { useTranslations } from '@/i18n/utils'
import type { Languages } from '@/i18n/utils'

const { lang } = Astro.params
const t = useTranslations(lang as Languages)

// アイコンマッピング
const iconMap = {
	TwitterIcon,
	GithubIcon
}
---

<header
	class='relative flex flex-col-reverse items-center justify-center h-auto font-semibold md:flex-row md:h-12'
>
	<a
		class='text-lg p-2 rounded-md transition-colors duration-200 hover:bg-gray-200 dark:hover:bg-gray-800 w-full text-center md:w-auto md:mr-auto'
		href={`${import.meta.env.BASE_URL}${lang}/`}>{t('nav.home')}</a
	>

	<div class='flex items-center justify-end w-full md:w-auto'>
		<div id='astro-header-drawer' class='flex items-center'>
			<nav class='flex h-full flex-row w-full items-center gap-1 md:gap-5'>
				<div class='hidden md:flex flex-row gap-4 border-r-2 border-black pr-4 dark:border-white'>
					<HeaderLink
						href={`${import.meta.env.BASE_URL}${lang}/tags`}
						class='flex items-center gap-1 text-base p-2 rounded-md'
					>
						<TagIcon />
						{t('nav.tags')}
					</HeaderLink>
				</div>

				<div class='flex justify-end items-center gap-1 md:gap-3'>
					{
						SOCIALNETWORKS.map((network) => {
							const IconComponent = iconMap[network.icon as keyof typeof iconMap]
							return (
								<HeaderLink
									class='p-2 rounded-md'
									href={network.url}
									target='_blank'
									aria-label={network.name}
								>
									<IconComponent />
								</HeaderLink>
							)
						})
					}
				</div>
			</nav>
		</div>

		<div class='flex items-center gap-1 md:gap-3 pl-1 md:pl-3' transition:persist='navbar'>
			<div>
				<Search />
			</div>
			<LanguageSwitch />
			<ToggleTheme client:only='react' />
		</div>
	</div>
</header>
